html, body {
    height: 100%;
}

.NewsStory {
    margin: 1rem 0;
}

.NewsStory .info {
    font-size: 0.75rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.NewsStory .description, .NewsStory .image {
    margin-bottom: 1rem;
}

.NewsSources .source {
    margin: 0.5rem 0;
}
